.ratings {
  font-size: 3rem;
  cursor: pointer;
}
.ratings-color {
  color: #ffe234;
  font-size: 3rem;
  cursor: pointer;
}
.ratings-wrapper {
  display: flex;
  flex-direction: column;
}
.ratings-wrapper label{
  display: flex;
  align-items: center;
}
.button-ratings {
  background-color: white;
}
