.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: translateY(-0.45%);
}
.button-animation {
  position: absolute;
  top: 12rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding: 5px 3rem;
  border-radius: 5px;
  border: 1.5px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.category-card:hover .overlay {
  display: block;
  background-color: var(--color-box-shadow);
}
.image-categories {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
@media only screen and (max-width: 540px) {
  .image-categories {
    width: 100%;
    height: fit-content;
  }
}
