.address-wrapper {
  width: 45vw;
  margin-bottom: 4rem;
}
.address-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
.address-heading {
  background-color: var(--color-border-primary);
  flex-grow: 1;
  background-color: #eeeeee;
  padding: 1rem;
}
.form {
  width: 90%;
  margin: 0 auto;
  font-family: "Slabo 27px", sans-serif;
  display: flex;
  flex-direction: column;
}
.form input {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.6rem;
  padding: 0 1rem;
  padding-top: 2rem;
  padding-bottom: 5px;
  font-family: "Slabo 27px", sans-serif;
}
.form label {
  position: relative;
}
.animate-h2 {
  font-size: 1.2rem;
  position: absolute;
  color: var(--color-icon);
  font-weight: 500;
  transform: translate(30%, -250%);
  transform: 0.5s ease-in-out;
}
select {
  width: 90%;
  margin: 1rem 0;
  font-size: 1.6rem;
  padding: 0 1rem;
  padding-top: 2rem;
  padding-bottom: 5px;
  font-family: "Slabo 27px", sans-serif;
  align-self: center;
}
.form select {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.6rem;
  padding: 0 1rem;
  padding-top: 2rem;
  padding-bottom: 5px;
  font-family: "Slabo 27px", sans-serif;
}
.form input:focus + .animate-h2 {
  font-size: 1.2rem;
  transform: translate(30%, -380%);
  transition: 0.5s ease-in-out;
}
.form input:valid + .animate-h2 {
  font-size: 1.2rem;
  transform: translate(30%, -380%);
  transition: 0.5s ease-in-out;
}
.form input:invalid + .animate-h2 {
  transform: translate(30%, -250%);
}
.select-h2 {
  font-size: 1.2rem;
  position: absolute;
  color: var(--color-icon);
  font-weight: 500;
  transform: translate(30%, -380%);
}
.email-wrapper {
  font-family: "Slabo 27px", sans-serif;
  padding-top: 2rem;
}
.email-wrapper h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.button-address {
  background-color: #ae946d;
  color: var(--color-primary-first);
  padding: 1rem 2rem;
  border: 0px;
  margin: 1rem 0;
}
.address-detail-wrapper {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.address-detail-wrapper h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 500;
}
.address-detail-wrapper h3 {
  font-size: 2rem;
}
.address-wrapper h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 5px;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-1rem {
  margin-left: 1rem;
}
.dummy-button {
  font-size: 2rem;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
}
.form .checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.form .checkbox-wrapper h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 1rem;
}
.form .checkbox-wrapper input {
  scale: 1.5;
}
.button-address-wrapper {
  align-self: flex-end;
  margin: 1rem 0;
}
.button-address-wrapper button {
  margin: 0 2rem;
}
.button-cancel {
  padding: 1rem 0;
  margin-bottom: 2rem;
}
