.product {
  width: 24rem;
  position: relative;
  margin: 2rem 1rem;
  cursor: pointer;
}

.product a {
  text-decoration: none;
}

.img-wrapper {
  display: block;
  width: 100%;
  height: 24rem;
  border: 2px solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.img-wrapper img {
  width: 100%;
  object-fit: contain;
}
.info {
  width: 100%;
  background: #000;
  color: white;
  position: relative;
  padding: 40px 10px 20px 10px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  height: 83px;
  border: 0px 2px 2px 2px solid #afafaf;
}

.title {
  font-size: 2rem;
}
.title a {
  color: inherit;
}
.price {
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.wishlist {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 3rem;
  cursor: pointer;
}
.red {
  color: #e32d2c;
}
.cart {
  padding: 8px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
