.form-wrapper {
  display: flex;
  align-items: center;
  margin: 15rem auto;
}
.form-wrapper .form {
  display: flex;
  align-items: center;
}
.form-wrapper h1 {
  font-size: 2rem;
}
.form-wrapper input {
  font-size: 2rem;
  width: 30rem;
}
.guest-button {
  font-size: 1.6rem;
  color: #777;
  font-weight: 500;
  cursor: pointer;
}
.button-form {
  width: 30rem;
  margin: 1rem 0;
  padding: 1rem;
}
.form-wrapper h3 {
  font-size: 1.6rem;
  margin: 5px;
  font-weight: 500;
}
.signUp-button {
  font-size: 1.6rem;
  margin: 5px;
  font-weight: 700;
  cursor: pointer;
  color: black;
}
